.markdown {
  margin-bottom: 5rem;
}
.markdown p {
  margin: 0;
  padding: 5px 0 1px 5px;
  font-size: 1.3rem;
}
.markdown pre {
  border-radius: 10px;
  background: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
  overflow: auto;
  padding: 10px;
}
.markdown code {
  font-size: 1.3rem;
  font-family: "Source Code Pro";
}
.markdown h2 {
  font-size: 2rem;
  color: #0095ff;
}
.markdown h3 {
  font-size: 1.5rem;
}
.markdown h4 {
  font-size: 1.2rem;
}
.markdown h5 {
  font-size: 1rem;
}

.markdown a {
  color: #004170;
  padding: 0.5rem;
}
.markdown a:hover {
  color: #0070c1;
}
.markdown ol {
  border-bottom: 2px solid var(--white);
}
.markdown table {
  border: 1px solid #6ec1fc;
  border-collapse: collapse;
}
.markdown td {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
}
.markdown p > code {
  color: rgb(3, 129, 255);
}
/* .markdown blockquote {
  border-left: 5px solid rgb(3, 129, 255);
  padding: 10px;
  background-color: #d1f2ff;
} */
