.markdown {
  border-bottom: 1px solid #6ec1fc;
}
.markdown p {
  padding: 5px;
  font-size: 1.3rem;
}
.markdown pre {
  background: rgb(67, 67, 67);
  color: aliceblue;
  overflow: auto;
  padding: 10px;
}
.markdown code {
  font-size: 1.3rem;
  font-family: "Source Code Pro";
}
.markdown h2 {
  color: #6ec1fc;
  padding: 1rem 0.5rem;
  border-top: 2px solid #6ec1fc;
  margin: 1rem;
}
.markdown h3 {
  padding: 0rem 1rem;
  margin: 1rem;
}
.markdown a {
  color: var(--blue);
  padding: 0.5rem;
}
.markdown a:hover {
  border-bottom: 1px solid var(--lightblue);
}
.markdown ol {
  border-bottom: 2px solid var(--white);
}
.markdown ul,
.markdown ol {
  padding: 0;
}
.markdown table {
  border: 1px solid #6ec1fc;
  border-collapse: collapse;
}
.markdown td {
  border: 1px solid rgb(0, 0, 0);
}
